<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
            body{
                font-family: 'Hind', sans-serif;
            }
            #losi{
                text-decoration: none;
                color:black;
                float:right;
                margin-top:30px;
            }
            /* div.con2 img {
                width: 100%;
                height: auto;
            }
            div.name {
                padding: 15px;
                text-align: center;
            } */

        * {
            box-sizing: border-box;
            }
            .con1 {
                display: flex;
                flex-direction: row;
            }
            a{
                text-decoration:none;
                color:black;
                font-size:20px;
            }
            #backimg{
                height:495px;
                width:1280px;
            }
            #imaco{
                background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://c.myholidays.com/blog/blog/content/images/2020/11/Places-To-Visit-In-India.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                height:650px;
                width:100%;
            }
            #b1{
                margin-right:30px;
            }
            #b2{
                margin-right:20px;

            }
            #quote{
                font-size:50px;
                margin-left:650px;
                height:600px;
                text-shadow: 2px 2px 2px black;
                width:600px;
                font-family: 'Allura', cursive;
                display:flex;
                align-items: center;
                justify-content: center;
                color:white;
            }
            #b1,#b2{
                border: none;
                background-color: transparent;
                background-color: #743906;
                border-radius: 15px;
                color: aliceblue;
                font-size: 15px;
                text-decoration: none;
                /* height:40px;
                width:70px; */
                padding: 10px;
            }

            #about, #ser{
                margin-left: 30px;
            }
            .con2 img{
                width: 300px;
                height: 200px;
                margin-right: 5px;
            }
            #foot{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        #foot a{
            color: black;
            text-decoration: none;
            font-size: 18px;
        }
        #foot a:hover{
            text-decoration: underline;
        }
        </style>
    </head>
    <body>
        <div id="imaco">
            <div id="losi">
                <a href="/login" id="b1">Login</a>
                <a href="/signup" id="b2">SignUp</a></div>
                <div id="logoim">
                <img width="150" height="130" src="https://i.ibb.co/hdbhgbM/Screenshot-22-Photo-Room-png-Photo-Room-1.png" border="0" style="float: left;"/>
                </div>
            <div id="quote">
                    <p>Travel as much as you can,<br>As far as you can,<br>As long as you can,<br>Life's not meant to be lived in one place.</p>
                </div>
            </div><br>
            <div id="about">
                <h1>About us</h1>
                <p>This website helps you to have a great travelling experience. Through this, you can find the most familiar places, find the best routes to reach destination, you can get the required transportation information, find the suitable tour plans and a lot more!!!<br>Just make your trip memorable with us :)</p>
            </div><br>
            <h1 id="ser">Services Provided</h1>
        <div class="con1" style="margin-left: 25px;">
            <div class="con2">
                <img src="https://assets.traveltriangle.com/blog/wp-content/uploads/2017/12/Planning-The-Itinerary.jpg" width="600" height="400">
                <h3 align="center">Location</h3>
            </div> 
            <div class="con2">
                <img src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="  width="600" height="400">
              <h3 align="center">Hotels Info</h3>
            </div>
            <div class="con2">
                <img src="https://dreamcubator.club/wp-content/uploads/2022/10/travel-and-transportation-banner.jpeg"  width="600" height="400">
              <h3 align="center">Transportation Info</h3>
            </div>
            <div class="con2">  
                <img src="https://imageio.forbes.com/blogs-images/trevornace/files/2015/11/beautiful-places-world-1200x900.jpg?format=jpg&width=1200" width="600" height="400">
              <h3 align="center">Tourism Info</h3>
            </div>
          </div><br><br><br><hr><br>
          <footer>
            <section>
                <img width="160" height="130" src="https://i.ibb.co/y0tG99s/Screenshot-22-Photo-Room-png-Photo-Room.png" alt="Screenshot-22-Photo-Room-png-Photo-Room" border="0" style="float: left;"/>
                <div id="foot">
                <div id="connect">Connect with us<br><br>
                    <nav>
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/material-outlined/48/743906/youtube-play--v1.png" alt="youtube-play--v1" class="icon"/></a>&emsp;
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/windows/64/743906/instagram-new.png" alt="instagram-new" class="icon"/></a>&emsp;
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/fluency-systems-regular/48/743906/facebook-new--v1.png" alt="facebook-new--v1" class="icon"/></a>&emsp;
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/fluency-systems-regular/48/743906/twitter.png" alt="twitter" class="icon"/></a>&emsp;
                    </nav>
                </div>
                <div id="help"><a href="#">Help</a><br><br><a href="/login">Login</a><br><br><a href="#">Settings</a></div>
                <div><a href="#con1">About Us</a><br><br><a href="#">Contact Us</a><br><br><a href="#">How the site works??</a></div>
                </div>
            </section>
        </footer>
    </body>
</html>