<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Mulish:wght@300&family=Open+Sans:wght@600&family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
         #navbar span{
            float: left;
            display: block;
           
        }
        body{
            font-family: 'Nunito', sans-serif;
        }
        #temp{
            font-size: 35px;
        }
        #navbar span{
            float: left;
            display: block;
        }
        #anchors{
            padding: 20px 16px;
        }
        #anchors a{
            text-decoration: none;
            color: black;
            font-size: 18px;
        }
        #anchors :hover{
            border-bottom: 2px solid #61320a;
        }
        .loc{
            border: 0;
            background: transparent;
            text-align: center;
            padding: 2px;
            width: 300px;
            height: 60px;
            font-size: 20px;
            outline: none;
        }
        .locations{
            border-radius: 40px;
            background-color: white;
            display:inline-block;
            position: absolute;
            top:45%;
            left:17%;
        }
        .locations button{
            border: none;
            background: transparent;
        }
        #parent{
            height: 490px;
            width: 99%;
            background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0, 0.8)),url("https://i.pinimg.com/originals/f3/8e/80/f38e802277e6fadee7e32b2f6d5d7785.jpg");
            background-position: center;
            background-size: cover;
            position:absolute;
            top:23%;
            
        }
        #parent #route{
            position: absolute;
            top: 20%;
            left: 37%;
            font-size: 40px;
            font-family: 'Allura', cursive;
            font-weight: bold;
        }
        #searchbtn{
            background-color: #7b3f00;
            border-radius: 30px;
            height: 50px;
            width: 80px;
            font-size: 17px;
            margin-right: 10px;
        }
        #searchicon{
            margin-left: 20px;
        }
        #link{
            position: absolute;
            top: 75%;
            left: 40%;
            /* visibility: hidden; */
            
        }
        #link a{
            color: white;
            text-decoration: none;
        }
        #link a:hover{
            text-decoration: underline;
        }
        #foot{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        #foot a{
            color: black;
            text-decoration: none;
            font-size: 18px;
        }
        #foot a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
        <div id="navbar">
            <img width="160" height="130" src="https://i.ibb.co/y0tG99s/Screenshot-22-Photo-Room-png-Photo-Room.png" alt="Screenshot-22-Photo-Room-png-Photo-Room" border="0" style="float: left;"/>
            <span id="anchors"><a href="#">Help</a></span>
            <span id="anchors"><a href="#">About</a></span>
            <span id="anchors"><a href="/currencyconverter">Currency Converter</a></span>
            <span style="float: right; padding: 7px 16px;"><a href="weather.ejs"><img width="40" height="40" src="https://img.icons8.com/metro/26/743906/home.png" alt="home"/></a></span>
        </div><br><br><br><hr>
        <div id="parent">
            <div id="route"><p>Find the best Route :)</p></div>
            <div class="locations">
                <form method="post" action="/location">
                    <img width="30" height="30" src="https://img.icons8.com/android/48/743906/search.png" alt="search" align="center" id="searchicon"/>
                    <input type="text" placeholder="Enter Source" name="fromloc" class="loc" id="source">	
                    <span style="color: #743906;">&#x7C;</span>
                    <input type="text" placeholder="Enter Destination" name="toloc" class="loc" id="destination">
                    <a class="btn" onclick="call()"><img width="30" height="30" src="https://img.icons8.com/material-rounded/48/7b3f00/microphone.png" alt="microphone" align="center"/></a>&emsp;
                    <button id="searchbtn">Search</button>
                </form>
        </div></div>
        <div>
            <p id="link"><a href="<%=array[0]%>">Click here to get the route</a></p>
        </div><br><br>
        <!-- <img width="30" height="30" src="https://img.icons8.com/material-rounded/48/7b3f00/microphone.png" alt="microphone" align="center" id="s"/> -->
        <!-- <footer>
            <section>
                <img width="160" height="130" src="https://i.ibb.co/y0tG99s/Screenshot-22-Photo-Room-png-Photo-Room.png" alt="Screenshot-22-Photo-Room-png-Photo-Room" border="0" style="float: left;"/>
                <div id="foot">
                <div id="connect">Connect with us<br><br>
                    <nav>
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/material-outlined/48/743906/youtube-play--v1.png" alt="youtube-play--v1" class="icon"/></a>&emsp;
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/windows/64/743906/instagram-new.png" alt="instagram-new" class="icon"/></a>&emsp;
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/fluency-systems-regular/48/743906/facebook-new--v1.png" alt="facebook-new--v1" class="icon"/></a>&emsp;
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/fluency-systems-regular/48/743906/twitter.png" alt="twitter" class="icon"/></a>&emsp;
                    </nav>
                </div>
                <div id="help"><a href="#">Help</a><br><br><a href="/login">Login</a><br><br><a href="#">Settings</a></div>
                <div><a href="#con1">About Us</a><br><br><a href="#">Contact Us</a><br><br><a href="#">How the site works??</a></div>
                </div>
            </section>
        </footer> -->
    <script>
        const btn = document.querySelector(".btn");
        const sp = document.getElementById("s");
            function speak(text){
                let text_speak = new SpeechSynthesisUtterance(text);
                text_speak.rate = 1;
                text_speak.pitch = 1;
                text_speak.volume = 1;
                window.speechSynthesis.speak(text_speak);
            }

            sp.addEventListener('click',()=>{
                speak("Hello Charishma");
            });

            const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
            const recognition = new SpeechRecognition();
            recognition.onresult = (event)=>{
                const currentIndex = event.resultIndex;
                const transcript = event.results[currentIndex][0].transcript;
                element.value = transcript;
                takeCommand(textContent);
            }
            let callOne = true;
            function one(){
                element = document.getElementById("source");
                element.placeholder = "Listening....."
                recognition.start();
            }
            function two(){
                element = document.getElementById("destination");
                element.placeholder = "Listening....."
                recognition.start();
            }
            function call(){
                if(callOne){
                    one();
                }
                else{
                    two();
                }
                callOne = !callOne;
            }
            // function display(){
            //     document.getElementById("link").style.visibility = "visible";
            // }

            function takeCommand(){}
    </script>
</body>
</html>