<!DOCTYPE html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
            body{
                background-image: url(https://travelogyindia.b-cdn.net/blog/wp-content/uploads/2019/06/Mehrangarh-Fort-Jodhpur-Rajasthan.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            #box2{
                font-family: 'Kanit', sans-serif;
            }
            #box1{
                border-top: 2px solid black;
                border-left: 2px solid #743906;
                width: 350px;
                height: 430px;
                border-radius: 20px;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-50%, -50%);
                background-color: white;
            }
            button{
                border: none;
                background-color: transparent;
                background-color: #743906;
                border-radius: 30px;
                padding: 10px 10px;
                width: 260px;
                height: 50px;
                font-size: 15px;
            }
            form{
                margin-left: 40px;
            }
            .input{
                font-size: 15px;
                border: none;
                border-bottom: 1px solid black;
                width: 250px;
                outline: none;
                padding: 5px;
            }
            #user{
                position: absolute;
                top: -50px;
                left: calc(50% - 50px);
                background-color: white;
                border-radius: 50%;
            }
            #mail{
                position: absolute;
                right: 58px;
            }
            #signuptext{
                font-size: 15px;
            }
          #msg{
            position: absolute;
            top: 30%;
            left: 48%;
            font-size: 20px;
            color: red;
          }
        </style>
    </head>
    <body>
        <div id="box2">
            
        <div id="box1">
            <img width="84" height="84" id="user" src="https://img.icons8.com/pastel-glyph/64/743906/user-male-circle.png" alt="user-male-circle"/>
            <br><center>
            <h1>Login</h1></center><br>
            <form method="POST" action="/loginsubmit">
            <img width="24" height="24" id="mail" src="https://img.icons8.com/material-rounded/24/743906/new-post.png" alt="new-post"/><input class="input" type="email" name="Email" id="id1" placeholder="Email"><br><br>
            <img width="25" height="25" id="mail" src="https://img.icons8.com/ios-glyphs/30/743906/lock--v1.png" alt="lock--v1"/><input type="password" name = "pswd" class="input" id="myInput" placeholder="Password"><br>
            <p id="signuptext"><input type="checkbox" onclick="myFunction()">Show Password</p>
            <button>Login</button><br>
            </form>
            <center><p id="signuptext">Don't have an account? <a href="/signup">Signup</a></p></center>
        </div>
        </div>
      <p id="msg"><%=msg%></p>
      <script>
        function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
        }
      </script>
    </body>
</html>